hmtl {
  font-family: Impact, sans-serif;
}
hr {
  margin-top: -40px;
}
ol {
  text-align: right;
}
li { 
  display: inline-block; 
  width: 40px; 
  line-height: 20px; 
  font-size: 12px;
  font-weight: 1000;
  text-align: center;
}
.main-photo {
  float: right;
  border-radius: 500px;
  width: 200px;
  height: 200px;
  margin-right: 50px;
}
.button {
  background-color: red;
  color: white;
  font-weight: 700;
  height: 35px;
  border-width: 1;
}
.opisanie {
  width: 400px;
  height: 50px;
}
.works{
  text-align: center;
  margin-top: 20px;
}
.work-title {
  text-align: left;
  color: grey;
  padding-top: 20px;
  padding-bottom: -10;
}
.work-photo {
  float: left;
  width: 200px;
  height: 150px;
}
.work-text {
  float: right;
  width: 400px;
  height: 200px;
  text-align: center;
}
.work-text > h2 {
  text-align: left;
  padding-left: 20px;
}
div > p {
  float: left;
  margin-top: -5px;
}
.year {
  background-color: #05057f;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 50px;
  height: 20px;
  margin-left: 20px;
  
}
.type {
  width: 30px;
  height: 20px;
  display: inline-block;
  margin-left: 20px;
}
.desc {
  line-height: 20px;
  width: 350px;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}
.work {
  display: inline-block;
  border-bottom: 100px;
  margin-bottom: 20px;
}
.rec-posts {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 5px;  
  background-color: #a7e6fb;
  text-align: center;
}
article {
  background-color: white;
  margin-top: 30px;
  height: 120px;
  width: 200px;
  text-align: center;
}
.rec-post {
  float: left;
  margin-left: 30px;
}
.view {
  float: right;
  margin-right: 30px;
}
.left{
  display: inline-block;
  margin-left: 30px;
}
.right{
  display: inline-block;
  margin-right: 30px;
}
.post-date {
  float: left;
  text-align: center;
  line-height: 20px;
  width: 100px;
}
.post-type {
  float: right;
  text-align: center;
  line-height: 20px;
  width: 100px;
}
footer {
  margin-top: 20px;
  text-align: center;
}
footer > a > img {
  height: 25px;
  width: 25px;
}

